doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        title Update Task
    body
        form(action="/addlist", method='POST')
            table
                tbody
                    tr
                        td Task Name: 
                        td
                            input#taskname(type="text", name="taskname", value=taskname)
                    tr
                        td Task Description:
                        td
                            input#taskdescription(type="text", name="taskdescription")
                    tr
                        td Due Date:
                        td
                            input#taskduedate(type="date", name="taskduedate")
                    tr
                        td Author
                        td
                            input#taskauthor(type="text", name="taskauthor")
                    tr
                        td 
                            input(type="hidden", name="isComplete", value="false")
                    tr
                        td
                            input(type="submit", value="SUBMIT")
                        td
                            input(type="reset", value="CANCEL")

            